
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.Trash-1000/files/test.ipynb
.Trash-1000/info/test.ipynb.trashinfo
.env
.ipynb_checkpoints/starter-checkpoint.ipynb
.Trash-1000/info/read.trashinfo
.Trash-1000/*
